<% warnings.each do |warning| %>
<div class="warning">
  <div class="heading">
    <h2><%= warning.title %></h2>
  </div>
  <div class="description">
    <%= sanitize warning.description %>
  </div>
  <div class="closers">
<%   warning.closers.each do |closer| %> 
    <div class="<%= classes_for(closer)  %>">
      <p><%= sanitize closer.message %></p>
      <p>
        <%= closer_link_to(warning, closer) %>
      </p>
    </div>
<%   end %>
  </div>
</div>
<% end %>
